<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="main.min.css" />
</head>
<body>
  {{{ content }}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="main.min.js"></script>
</body>
</html>